.heading {
  color: rgb(177, 204, 82);
}

.test__heading-small {
  composes: heading;

  display: flex;

  :global(.fatLetter) {
    color: rgb(0, 0, 0);
  }

  :local(.italicLetter) {
    text-transform: uppercase;
  }
}
